.title{
    font-size: 30px;
    text-align: center;
    margin-bottom: 70px;
}

.content{
    display: flex;
    align-items: center;
    gap: 100px;
}

.imgContainer{
    position: relative;
    height: 450px;
    flex: 1;
}

.form{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2em;
    background-color: transparent;;
}

.input, .textArea{
    padding: 20px;
    resize: none;
}
