.title{
    font-size: 30px;
    text-align: center;
    margin-bottom: 70px;
}

.content{
    display: flex;
    align-items: center;
    gap: 100px;
}

.imgContainer{
    position: relative;
    height: 450px;
    flex: 1;
}

.image{
    object-fit: contain;
    /* animation: move 2s ease alternate infinite; */
}

@keyframes move {
    from{
        transform: translateY(-15px);
    }
    to{
        transform: translateY(0)scale(1.02);
    }   
}

.form{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2em;
    background-color: transparent;;
}

.input{
    padding: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #bbb;
    border: 3px solid #bbb;
    font-size: 15px;
    font-weight: bold;
}

.textArea{
    padding: 20px;
    resize: none;
    background-color: transparent;
    border: none;
    outline: none;
    color: #bbb;
    border: 3px solid #bbb;
    font-size: 15px;
    font-weight: bold;
}